<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper	namespace="com.ssdam.tripPaw.checklist.CheckRoutineMapper">

	<!-- 루틴 생성 -->
	<insert id="insertCheckRoutine" useGeneratedKeys="true"	keyProperty="id">
		INSERT INTO check_routine (title, is_saved, member_id, route_id, created_at)
		VALUES (#{title}, #{isSaved}, #{member.id}, #{route.id}, now())
	</insert>

	<!-- 전체 조회 -->
	<select id="selectAllCheckRoutines" resultMap="CheckRoutineMap">
		SELECT * FROM check_routine ORDER BY created_at DESC
	</select>
	
	<!-- 유저별 루틴 전체 조회 -->
    <select id="selectRoutinesByMemberId" resultMap="CheckRoutineMap">
        SELECT * FROM check_routine WHERE member_id = #{memberId} ORDER BY created_at DESC
    </select>

	<!-- 단건 조회 -->
	<select id="selectCheckRoutineById" resultMap="CheckRoutineMap">
		SELECT * FROM check_routine WHERE id = #{id}
	</select>
	
	<!-- 루틴업데이트 -->
	<update id="updateCheckRoutine">
        UPDATE check_routine
        SET title = #{title}, is_saved = #{isSaved}, member_id = #{member.id}, route_id = #{route.id}
		WHERE id = #{id}
    </update>

	<!-- 삭제 -->
	<delete id="deleteCheckRoutineById">
		DELETE FROM check_routine WHERE id = #{id}
	</delete>

	<!-- ResultMap -->
	<resultMap id="CheckRoutineMap" type="CheckRoutine">
		<id property="id" column="id" />
		<result property="title" column="title" />
		<result property="isSaved" column="is_saved" />
		<result property="createdAt" column="created_at" />

		<association property="member" javaType="Member">
			<id property="id" column="member_id" />
		</association>
		<association property="route" javaType="Route">
			<id property="id" column="route_id" />
		</association>
	</resultMap>

</mapper>