<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssdam.tripPaw.review.MemberBadgeMapper">

	<!-- 회원이 지금까지 쓴 리뷰 글자 수 -->
    <select id="getTotalContentLengthByMemberId" parameterType="long" resultType="int">
        SELECT IFNULL(SUM(CHAR_LENGTH(content)), 0)
        FROM review
        WHERE member_id = #{memberId}
    </select>

    <!-- 기준 넘은 뱃지들 가져오기 -->
    <select id="findEligibleBadges" parameterType="int" resultType="com.ssdam.tripPaw.domain.Badge">
        <![CDATA[
        	SELECT * FROM badge
        	WHERE weight <= #{totalWeight}
    	]]>
    </select>

    <!-- 이미 회원이 가진 뱃지인지 확인 -->
    <select id="hasBadge" resultType="boolean" parameterType="map">
        SELECT EXISTS (
            SELECT 1 FROM member_badges
            WHERE member_id = #{memberId} AND badge_id = #{badgeId}
        )
    </select>

    <!-- 뱃지 부여 -->
    <insert id="insertBadge" parameterType="map">
        INSERT IGNORE INTO member_badges (member_id, badge_id)
        VALUES (#{memberId}, #{badgeId})
    </insert>
</mapper>