<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssdam.tripPaw.pay.PayMapper">

  <!-- 조회 -->
  <select id="findById" parameterType="long" resultType="com.ssdam.tripPaw.domain.Pay">
    SELECT * FROM pay WHERE id = #{id}
  </select>

  <!-- 전체 조회 -->
  <select id="findAll" resultType="com.ssdam.tripPaw.domain.Pay">
    SELECT * FROM pay
  </select>

  <!-- 삽입 -->
  <insert id="insert" parameterType="com.ssdam.tripPaw.domain.Pay" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO pay (
      imp_uid, merchant_uid, amount, pay_method, pg_provider,
      state, paid_at, created_at, reserv_id, member_id, haspay_share
    ) VALUES (
      #{impUid}, #{merchantUid}, #{amount}, #{payMethod}, #{pgProvider},
      #{state}, #{paidAt}, #{createdAt}, #{reserv.id}, #{member.id}, #{haspayShare}
    )
  </insert>

  <!-- 상태 업데이트 -->
  <update id="updateByState" parameterType="com.ssdam.tripPaw.domain.Pay">
    UPDATE pay
    SET state = #{state}
    WHERE id = #{id}
  </update>

  <!-- 삭제 -->
	<update id="softDelete" parameterType="long">
	  UPDATE pay
	  SET delete_at = NOW()
	  WHERE id = #{id}
	</update>
	
</mapper>