<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ssdam.tripPaw.tripPlan.TripPlanMapper">
	<resultMap id="tripPlanWithCoursesMap"
		type="com.ssdam.tripPaw.domain.TripPlan">
		<id property="id" column="tp_id" />
		<result property="title" column="title" />
		<result property="days" column="days" />
		<result property="publicVisible" column="is_public" />
		<result property="createdAt" column="created_at" />
		<result property="imageUrl" column="image_url" />

		<collection property="tripPlanCourses"
			ofType="com.ssdam.tripPaw.domain.TripPlanCourse">
			<id property="id" column="c_id" />
			<association property="route"
				javaType="com.ssdam.tripPaw.domain.Route">
				<id property="id" column="route_id" />
				<collection property="routePlaces"
					ofType="com.ssdam.tripPaw.domain.RoutePlace">
					<id property="id" column="rp_id" />
					<association property="place"
						javaType="com.ssdam.tripPaw.domain.Place">
						<id property="id" column="p_id" />
						<result property="name" column="p_name" />
						<result property="latitude" column="latitude" />
						<result property="longitude" column="longitude" />
					</association>
				</collection>
			</association>
		</collection>
	</resultMap>


	<resultMap id="tripResultMap"
		type="com.ssdam.tripPaw.domain.TripPlan">
		<id property="id" column="id" />
		<result property="title" column="title" />
		<result property="days" column="days" />
		<result property="publicVisible" column="is_public" />
		<result property="createdAt" column="created_at" />
		<result property="imageUrl" column="image_url" />
	</resultMap>

	<!-- insert -->
	<!-- 1. 여행 생성 -->
	<insert id="insertTripPlan"
		parameterType="com.ssdam.tripPaw.domain.TripPlan"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO trip_plan (member_id,
		title, days, is_public, created_at,
		image_url)
		VALUES (#{member.id},
		#{title}, #{days}, #{publicVisible}, NOW(), #{imageUrl})
	</insert>

	<!-- 2. 루트 이름 생성 -->
	<insert id="insertRoute"
		parameterType="com.ssdam.tripPaw.domain.Route" useGeneratedKeys="true"
		keyProperty="id">
		INSERT INTO route (name)
		VALUES (#{name})
	</insert>

	<!-- 3. 루트-장소-순서 연결 -->
	<insert id="insertRoutePlace"
		parameterType="com.ssdam.tripPaw.domain.RoutePlace"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO route_place (route_id,
		place_id, sequence)
		VALUES (#{route.id}, #{place.id}, #{sequence})
	</insert>

	<!-- 4. 여행-루트 연결 -->
	<insert id="insertTripPlanCourse"
		parameterType="com.ssdam.tripPaw.domain.TripPlanCourse"
		useGeneratedKeys="true" keyProperty="id">
		INSERT INTO trip_plan_course
		(trip_plan_id, route_id)
		VALUES (#{tripPlan.id}, #{route.id})
	</insert>




	<!-- select -->
	<select id="findByIdWithCourses" parameterType="long"
		resultMap="tripPlanWithCoursesMap">
		SELECT
		tp.id as tp_id, tp.title, tp.days, tp.is_public,
		tp.created_at,
		tp.image_url,
		c.id as c_id, c.trip_plan_id,
		r.id as
		route_id,
		rp.id as rp_id,
		p.id as p_id, p.name as p_name, p.latitude,
		p.longitude
		FROM trip_plan tp
		JOIN trip_plan_course c ON tp.id =
		c.trip_plan_id
		JOIN route r ON c.route_id = r.id
		JOIN route_place rp ON
		r.id = rp.route_id
		JOIN place p ON rp.place_id = p.id
		WHERE tp.id =
		#{id}
		ORDER BY c.id ASC, rp.id ASC
	</select>

	<select id="findAllTrips" resultMap="tripResultMap">
		SELECT tp.id, tp.member_id, tp.title, tp.is_public, tp.image_url, tp.days, tp.created_at
		FROM trip_plan tp
		ORDER BY id DESC
	</select>

	<!-- update -->

</mapper>